{# templates/help/index.html.twig #}
{% extends 'base.html.twig' %}

{% block title %}Help & Documentation{% endblock %}

{% block body %}
    <div class="container">
        <h1>Help & Documentation</h1>

        <div class="list-group">
            {% for doc_page in doc_pages %}
                <a href="{{ path('help_page', {'slug': doc_page.slug}) }}" class="list-group-item list-group-item-action">
                    <h5 class="mb-1">{{ doc_page.title }}</h5>
                </a>
            {% else %}
                <p>No documentation available at this time.</p>
            {% endfor %}
        </div>
    </div>
{% endblock %}