{# templates/customer/forecasting/_accounts_projection_section.html.twig #}
<div class="forecasting-card">
    <div class="forecasting-header">
        <h2 class="forecasting-title">Account Projection</h2>
        <div class="account-selector">
            <select id="accountSelect" class="form-control">
                <option value="">Select Account ...</option>
                {% for account in accounts %}
                    <option value="{{ account.id }}">{{ account.name }} -- {{ account.budgetTrackingGroup.isIncomeOrExpense }}</option>
                {% endfor %}
            </select>
        </div>
        <div class="account-period-selector">
            <select id="accountPeriodSelect" class="form-control">
                <option value="">Select Period ...</option>
                <option value="1">1 Year</option>
                <option value="3">3 Years</option>
                <option value="5">5 Years</option>
                <option value="10">10 Years</option>
                <option value="15">15 Years</option>
                <option value="20">20 Years</option>
                <option value="30">30 Years</option>
            </select>
        </div>
    </div>
    <div class="chart-container">
        <canvas id="accountProjectionChart"></canvas>
    </div>
</div>